.land {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: linear-gradient(135deg, #194198, #4477e4); /* gradient bg */
  color: #fff;
  height: 100vh; /* full screen */
}

/* Left Section */
.left {
  padding-left: 130px;
  flex: 1;
  padding-top: 40px;
  max-width: 50%;
}

.left h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.highlight {
  font-size: 2.5rem;
}

.brand {
  font-size: 70px;
  color: #ffd700;
  text-decoration: none;
  padding-left: 40px; /* golden highlight like PayFlex brand */
}

.subtitle {
  font-size: 28px;
  margin-bottom: 30px;
  color: #e0e0e0;
}

.phonehome{
  padding-left: 30px;
    max-width: 900px;
    padding-top: 105px;
    height: auto;
   /* mimic phone tilt */
}
.cta-btn {
  background: #fff;
  color: #5c6cf6;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 55px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #ffd700;
  color: #000;
}

/* Right Section */
.right {
  flex: 1;
  display:inline;
  
}

